tools/Audax.Validator/Data/save.txt
tools/Audax.Validator/Data/logComposition.txt
tools/Audax.Validator/Data/log.txt
tools/Hoi3Parser/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
tools/Hoi3Parser/obj/Debug/Hoi3Parser.csprojAssemblyReference.cache
BlackICE.zip
tools/HoI3PosEd release/config.txt
.vscode
BlackIceGFX.zip
*.pyc
DaveStuff/SaveCheck/save.hoi3
.idea
venv
BlackICE *.exe
BlackICE *.rar
BlackICE *.zip
DivisionBuilderTemplates.dat
main.exe
tools/DivisionBuilder/bin/build/*
tools/DivisionBuilder/bin/dist/*
tools/DivisionBuilder/bin/DivisionBuilder.spec
quickStart.bat
.vs